@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900&display=swap');
body {
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
h1 {
    z-index: 2;
}
p {
    text-align: center;
    z-index: 2;
}

section { 
    display: grid;
    place-items: center;
    align-content: center;
    padding-bottom: 130vh;
    padding-top: 50vh;
}
section1{
    padding-top: 70vh;
    display: grid;
    place-items: center;
    align-content: center;
    padding-bottom: 200vh;

}
section2 {
    display: grid;
    place-items: center;
    align-content: center;
    padding-bottom: 350vh;
    padding-top: 50vh;
}
section3 {
    padding-top: 50vh;
    display: grid;
    place-items: center;
    align-content: center;
    padding-bottom: 1150vh;
}
section4 {
    padding-top: 50vh;
    display: grid;
    place-items: center;
    align-content: center;
    padding-bottom: 850vh;
}
section5 {
    padding-top: 50vh;
    display: grid;
    place-items: center;
    align-content: center;
    padding-bottom: 1250vh;
}
.hidden {
    opacity: 0;
    transition: all 1s;
}
.show {
    opacity: 1;
    transition: all 1.5s;
}


.cloud1{
    width: 300px;
    height: 150px;
    background: url('ctest.svg') no-repeat center center;
    background-size: contain;
    position: fixed;
    top: 10%;
    left: -300px; /* Start off-screen */
    transform: translateY(-50%);
    animation: swimleft 11s linear infinite;
}
.cloud2{
    width: 300px;
    height: 150px;
    background: url('ctest.svg') no-repeat center center;
    background-size: contain;
    position: fixed;
    top: 20%;
    right: -300px; /* Start off-screen */
    transform: translateY(-20%);
    animation: swimRight 13s linear infinite;
}
.cloud3{
    width: 300px;
    height: 150px;
    background: url('ctest.svg') no-repeat center center;
    background-size: contain;
    position: fixed;
    top: 5%;
    right: -800px; /* Start off-screen */
    transform: translateY(-5%);
    animation: swimRight 23s linear infinite;
}
.cloud4{
    width: 300px;
    height: 150px;
    background: url('ctest.svg') no-repeat center center;
    background-size: contain;
    position: fixed;
    top: 27%;
    left: -300px; /* Start off-screen */
    transform: translateY(-50%);
    animation: swimleft 17s linear infinite;
}

.clownfish {
    
    width: 100px;
    height: 50px;
    background: url('Clownfish.svg') no-repeat center center;
    background-size: contain;
    position: fixed;
    top: 30%;
    left: -100px; /* Start off-screen */
    transform: translateY(-50%);
    animation: swimleft 10s linear infinite;
}
.polarbear {
    
    width: 100px;
    height: 50px;
    background: url('polarBear.svg') no-repeat center center;
    background-size: contain;
    position: fixed;
    top: 50%;
    right: -100px; /* Start off-screen */

    transform: translateY(-50%);

    animation: swimRight 10s linear infinite;
}
.crab {
    
    width: 100px;
    height: 50px;
    background: url('Crab.svg') no-repeat center center;
    background-size: contain;
    position: fixed;
    top: 10%;
    right: -100px; /* Start off-screen */

    transform: translateY(-50%);

    animation: swimRight 10s linear infinite;
}
.goblinshark {
    
    width: 100px;
    height: 50px;
    background: url('GoblinShark.svg') no-repeat center center;
    background-size: contain;
    position: fixed;
    top: 30%;
    left: -100px; /* Start off-screen */
    transform: translateY(-50%);
    animation: swimleft 10s linear infinite;
}
@keyframes swimleft {
    0% {
        left: 0px;
    }
    100% {
        left: 100%;
    }
}
@keyframes swimRight {
    0% {
        right: 0px;
    }
    100% {
        right: 100%;
    }
}
.content {
    padding: 20px;
    font-size: 24px;
    z-index: -1;
}
.footer {
    position: relative;

    padding: 2rem;
    background: #e0c067;
    color: white;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
  }
  